@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Roboto:wght@500&display=swap');

body{
background-color: rgb(255, 255, 255);
margin: 0 auto;
}

h1{
  color: black;
}

.navbar {
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 1rem;
  cursor: pointer;
}

.nav-item:hover {
  text-decoration: underline;
}

ul{
  display: flex;
  gap: 30px;
}